\db.sqlite3
*.pyc
**/__pycache__
**/media
\accounts\__pycache__\
\accounts\migrations\__pycache__\
\mainApp\__pycache__\
\mainApp\code\__pycache__\
\mainApp\migrations\__pycache__\
\tms\__pycache__\

