{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/accounts/signup_style.css' %}" />
    <title>SignUp</title>
</head>

<body>
    <div class="container">
        <div class="black-cover">
            <!-- Error Messages are here -->
            {% if form.errors %}
            <!-- The Modal for Errors -->
            <div id="errorModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-head">
                        <h2>Errors</h2>
                        <span class="close" onclick="errorModal.style.display = 'none'">&times;</span>
                    </div>
                    <ol>
                        {% for field in form %} {% for error in field.errors %}

                        <li> {{ error|escape }}</li>
                        {% endfor %} {% endfor %}
                    </ol>
                </div>
            </div>
            {% endif %}

            <form action="" method="post">
                {% csrf_token %}

                <h3>SignUp Here</h3>

                <label for="username">Company Name: </label>
                {{form.username}}

                <label for="email">Email Address: </label>
                {{form.email}}

                <label for="password1">Password1: </label>
                {{form.password1}}

                <label for="password2">Password2: </label>
                {{form.password2}}

                <input type="submit" name="create user" class="btn" />
                <span>Already have an account? </span>
                <a href="{% url 'login' %}">Login</a>
            </form>
        </div>
    </div>
</body>

<script>
    errorModal = document.getElementById( "errorModal" );
</script>

</html>