* {
  margin: 0;
  padding: 0;
}

:root {
  --orange: #ff3c00;
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
  --weight4: 800;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: var(--veryLightGray);
}
/*! Curved Div Header------------------------------------------- */

.curved-div {
  background: #ff3c00;
  color: #fff;
  position: relative;
}

.curved-div svg {
  display: block;
}

.curved-div .container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

#welcome {
  align-self: center;
}

#greet {
  margin: 20px;
}

#logout {
  width: 50px;
  height: 50px;
  margin: 20px;
  font-size: 40px;
}

.newFormButton {
  background-color: blue;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
/*!--------------------------------------------------  */
/*! Internship Detail Card CSS  */
.cards-container {
  display: inline-flex;
  justify-content: space-evenly;
}

.card {
  width: 300px;
  height: 250px;
  margin: 10px;
  padding: 10px;
  border-top: 3px solid var(--orange);
  border-radius: 5px;
  box-shadow: 0px 30px 40px -10px var(--grayishBlue);
}

.card h3 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight4);
  font-size: 20px;
  text-decoration: underline;
  text-align: center;
}

.card p {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
}

.card .card-data {
  height: 100%;
  margin: 5px;
  padding: 10px;
  position: relative;
}

.card .card-data .card-data-grp {
  display: flex;
  justify-content: flex-start;
}

.card-data .menu-btn {
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

.card-data-grp input {
  border: 2px solid black;
  border-radius: 5px;
  width: 100px;
  font-weight: var(--weight3);
}

.card .card-utils {
  margin: 5px;
  padding: 10px;
  display: none;
}

.card .card .utils-btns {
  margin-top: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*!---------------------------------------------------  */

/* CSS For Toogle Switch starts */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 1px;
  /* bottom: 3px; */
  background-color: snow;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(33px);
  -ms-transform: translateX(33px);
  transform: translateX(34px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* CSS for Toogle Switch ends */

/* CSS for Copy Text starts here */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* CSS for copy text ends here */

/* CSS for Spin Loader Starts here */
#spinModal .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* CSS for Spin Loader ends here */
