{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static 'css/mainApp/home.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <title>tms: home</title>
</head>

<body>
    <div class="head-container">
        <!-- Here User name will be shown -->
        <h1>Hello, {{request.user}}. Welcome to TMS</h1>
        <div class="buttons">
            <!-- Button For New Form -->
            <button id="newForm" class="myBtn" onclick="newFormModal.style.display='block'">
                New Form
            </button>
            <!-- Logout Button -->
            <a href="{% url 'logout' %}">
                <input type="button" value="Logout" class="myBtn" />
            </a>
        </div>
    </div>

    {% if messages %} {% for message in messages %}
    <!-- The Modal for Alert Modal -->
    <div id="alertModal" class="alert-modal">
        <!-- Modal content -->
        <div class="modal-content">
            {{message}}
            <span class="close" onclick="alertModal.style.display = 'none'">&times;</span>
        </div>
    </div>
    {% endfor %} {% endif %}

    <!-- Modal for loading spinner -->
    <div id="spinModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="loader"></div>
            <br />
            <b>Sending Email, Please Wait...</b>
        </div>
    </div>

    <br /><br />
    <!-- The Modal for New Form -->
    <div id="newFormModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onclick="newFormModal.style.display = 'none'">&times;</span>
            <form method="POST" action="">
                {% csrf_token %}
                <input type="hidden" name="newForm" value="True" />
                <label for="name">Description: </label> <br />
                <textarea name="description" id="description" cols="40" rows="5"></textarea>
                <br />
                <br />

                <label for="domains">Domains: </label> <br />
                <textarea name="domains" id="domains" cols="40" rows="5"></textarea>
                <br />
                <br />

                <input type="submit" value="Create" class="myBtn" />
            </form>
        </div>
    </div>

    <!-- The Modal for email utility -->
    <div id="emailModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onclick="emailModal.style.display = 'none'">&times;</span>
            <form method="POST" action="sendEmail/" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="email_utility" value="True" />
                <label for="email_heading">Email Heading: </label>
                <input type="text" name="email_heading" id="email_heading" />
                <br />
                <br />
                <label for="email_body">Email Body: </label> <br />
                <textarea name="email_body" id="email_body" cols="30" rows="10"></textarea>
                <br />
                <br />
                <hr />
                <label for="receipnt">To: </label>
                <input type="text" name="receipnt" id="receipnt" />
                <br />
                <br />
                <b>-----------------------------OR-----------------------------</b>
                <br /><br />
                <label for="csv_file">Upload: </label>
                <input type="file" name="csv_file" id="csv_file" /> <br />
                <br />
                <b>-----------------------------OR-----------------------------</b>
                <br /><br />
                <input type="checkbox" name="all" id="all" value="True" /> Send To All
                <br />
                <br />
                <input type="submit" value="Send" class="myBtn" onclick="spinLoader();" />
            </form>
        </div>
    </div>

    <!-- The Modal for offerletter utility -->
    <div id="offerletterModal" class="modal">
        <!-- Modal content comment -->
        <div class="modal-content">
            <span class="close" onclick="offerletterModal.style.display = 'none'">&times;</span>
            <form method="POST" action="generateOfferLetter/">
                {% csrf_token %}
                <input type="hidden" name="offerletter_utility" value="True" />
                <label for="cname">Company Name: </label> <br />
                <input type="text" name="cname" id="cname" />
                <br />
                <br />
                <label for="hrName">HR Name: </label> <br />
                <input type="text" name="hrName" id="hrName" />
                <br />
                <br />
                <hr />
                <label for="name">Name: </label> <br />
                <input type="text" name="name" id="name" />
                <br />
                <br />
                <label for="domain">Domain: </label> <br />
                <input type="text" name="domain" id="domain" />
                <br /><br />
                <label for="email">Email: </label> <br />
                <input type="email" name="email" id="email" />
                <br /><br />
                <b>-----------------------------OR-----------------------------</b>
                <br /><br />
                <input type="checkbox" name="all" id="all" value="True" /> Send To All
                <br />
                <br />
                <input type="submit" value="Send" class="myBtn" onclick="spinLoader();" />
            </form>
        </div>
    </div>

    <!-- The Modal for certificate utility -->
    <div id="certificateModal" class="modal">
        <!-- Modal content comment -->
        <div class="modal-content">
            <span class="close" onclick="certificateModal.style.display = 'none'">&times;</span>
            <form method="POST" action="generateCertificate/">
                {% csrf_token %}
                <input type="hidden" name="certificate_utility" value="True" />
                <label for="name">Name: </label> <br />
                <input type="text" name="name" id="name" />
                <br />
                <br />
                <label for="domain">Domain: </label> <br />
                <input type="text" name="domain" id="domain" />
                <br /><br />
                <label for="email">Email: </label> <br />
                <input type="email" name="email" id="email" />
                <br /><br />
                <b>-----------------------------OR-----------------------------</b>
                <br /><br />
                <input type="checkbox" name="all" id="all" value="True" /> Send To All
                <br />
                <br />
                <input type="submit" value="Send" class="myBtn" onclick="spinLoader();" />
            </form>
        </div>
    </div>

    <!-- Form Cards-->
    {% for form in forms %}
    <div class="form-card">
        <div class="card-data">
            <h3>Date: {{ form.date }}</h3>
            <p>Description: {{ form.description }}</p>
            <b>Url: </b>
            <input type="text" value="{{form.url}}" style="width: 75px" id="{{form.fid}}" />
            <div class="tooltip">
                <a onclick="copyText('{{form.fid}}');" onmouseout="outFunc();">
                    <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                    <i class="fa fa-copy" style="font-size: 24px; margin-left: 5px"></i>
                </a>
            </div>
            <p>
                Form Status: {% if form.form_status == True %}
                <b>Open</b>
                {% else %}
                <b>Close</b>
                {% endif %}
            </p>
            <label class="switch">
                {% if form.form_status == True %}
                <input type="checkbox" name="url_status_cb" id="url_status_cb" checked
                    onchange="toogleUrlStatus('{{form.fid}}');" />
                {% else %}
                <input type="checkbox" name="url_status_cb" id="url_status_cb"
                    onchange="toogleUrlStatus('{{form.fid}}');" />
                {% endif %}
                <span class="slider round"></span>
            </label>
        </div>
        <div class="card-buttons">
            <a href="{% url 'toTdetails' form.fid %}">
                <button id="tdetails" class="myBtn">Trainee Details</button>
            </a>
            <br />
            <button id="email_utility" class="myBtn"
                onclick="emailModal.style.display='block';session('{{ form.fid }}');">
                Email
            </button>
            <br />
            <button id="offerletter_utility" class="myBtn"
                onclick="offerletterModal.style.display='block';session('{{ form.fid }}');">
                Offer Letter
            </button>
            <br />
            <button id="certificate_utility" class="myBtn"
                onclick="certificateModal.style.display='block';session('{{ form.fid }}');">
                Certificate
            </button>
            <br />
            <a href="{% url 'delForm' form.fid %}">
                <i class="fa fa-trash fa-2x" style="margin-left: 50px; color: black"></i>
            </a>
        </div>
    </div>
    {% endfor %}
</body>

<script type="text/javascript">
    // Get the modal
    var newFormModal = document.getElementById( "newFormModal" );
    var emailModal = document.getElementById( "emailModal" );
    var offerletterModal = document.getElementById( "offerletterModal" );
    var certificateModal = document.getElementById( "certificateModal" );
    var alertModal = document.getElementById( "alertModal" );

    function spinLoader()
    {
        var spinModal = document.getElementById( "spinModal" );
        spinModal.style.display = "block";
        emailModal.style.display = "none";
        offerletterModal.style.display = "none";
        certificateModal.style.display = "none";
    }

    function session( fid )
    {
        $.get( "setSession/" + fid + "/", function ( data ) { } );
    }

    function toogleUrlStatus( fid )
    {
        $.get( "toogleUrlStatus/" + fid + "/", function ( data )
        {
            location.reload();
        } );
    }

    function copyText( inpId )
    {
        var copyText = document.getElementById( inpId );
        copyText.select();
        copyText.setSelectionRange( 0, 99999 );
        navigator.clipboard.writeText( copyText.value );

        var tooltip = document.getElementById( "myTooltip" );
        tooltip.innerHTML = "Copied";
    }

    function outFunc()
    {
        var tooltip = document.getElementById( "myTooltip" );
        tooltip.innerHTML = "Copy to clipboard";
    }
</script>

</html>