{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="{% static 'css/mainApp/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mainApp/utils.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mainApp/modal.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <title>tms: home</title>
</head>

<body>
    <!--! Curved Header Section------------------------------------- -->
    <div class="curved-div">
        <div class="container">
            <h1 id="greet"><i class="fa fa-user" aria-hidden="true"></i> <span
                    style="text-transform: capitalize;">{{request.user}}</span></h1>
            <!-- <h1 id="welcome">Welcome To TMS</h1> -->

            <div id="welcome"></div>

            <a href="{% url 'logout' %}" class="a-btn-white">
                <div id="logout"><i class='fa fa-sign-out'></i></div>
            </a>
        </div>



        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319">
            <path fill="#fafafa" fill-opacity="1"
                d="M0,128L48,128C96,128,192,128,288,160C384,192,480,256,576,245.3C672,235,768,149,864,149.3C960,149,1056,235,1152,250.7C1248,267,1344,213,1392,186.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
            </path>
        </svg>
    </div>
    <!--!------------------------------------------------------------  -->

    <div class="btn-container">
        <div class="newButton" onclick="newFormModal.style.display='block'">
            New Form
        </div>

        <!-- New Test Btn -->
        <div class="newButton" onclick="newTestModal.style.display='block'">
            New Test
        </div>
    </div>

    <!--! MODAL SECTION---------------------------------------------- -->
    {% if messages %} {% for message in messages %}
    <!-- The Modal for Alert Modal -->
    <div id="alertModal" class="alert-modal">
        <!-- Modal content -->
        <div class="alert-modal-content">
            {{message}}
            <span class="close" onclick="alertModal.style.display = 'none'">&times;</span>
        </div>
    </div>
    {% endfor %} {% endif %}

    <!-- Modal for loading spinner -->
    <div id="spinModal" class="modal">
        <!-- Modal content -->
        <div class="spin-modal-content">
            <div class="loader"></div>
            <br />
            <b style="color: white;">Sending Email, Please Wait...</b>
        </div>
    </div>

    <!-- The Modal for New Form -->
    <div id="newFormModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <h2>Create New Form</h2>
            <span class="close" onclick="newFormModal.style.display = 'none'">&times;</span>
            <form method="POST" action="">
                {% csrf_token %}
                <input type="hidden" name="newForm" value="True" />
                <label for="name">Description: </label>
                <textarea name="description" id="description" cols="40" rows="5"></textarea>


                <label for="domains">Domains: </label>
                <textarea name="domains" id="domains" cols="40" rows="5"></textarea>

                <label for="payment">Fee Amount: </label>
                <input type="number" name="payment">

                <input type="submit" value="Create" class="myBtn" />
            </form>
        </div>
    </div>

    <!-- The Modal for New Test -->
    <div id="newTestModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <h2>Create New Test</h2>
            <span class="close" onclick="newTestModal.style.display = 'none'">&times;</span>
            <form method="POST" action="createTest/" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="newTest" value="True" />
                <label for="name">Description: </label>
                <textarea name="description" id="description" cols="40" rows="5"></textarea>


                <label for="domains">Domain: </label>
                <input type="text" name="domain">

                <div class="form-grp">
                    <label for="csv_file">CSV File: </label>
                    <input type="file" name="csv_file" id="csv_file" />
                </div>

                <input type="submit" value="Create" class="myBtn" />
            </form>
        </div>
    </div>

    <!-- The Modal for email utility -->
    <div id="emailModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <h2>Send Emails</h2>
            <span class="close" onclick="emailModal.style.display = 'none'">&times;</span>
            <form method="POST" action="sendEmail/" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-container">
                    <div class="form-grp">
                        <input type="hidden" name="email_utility" value="True" />
                        <label for="email_heading">Email Heading: </label>
                        <input type="text" name="email_heading" id="email_heading" placeholder="Subject" />

                        <label for="email_body">Email Body: </label>
                        <textarea name="email_body" id="email_body" cols="30" rows="8"></textarea>

                        <div class="tooltip px-5 mt-20">
                            <a onclick="copyPaymentLink()" onmouseout="outFunc();">
                                <span class="tooltiptext" id="myTooltip2">Copy to clipboard</span>
                                <span style="text-decoration: underline; cursor: pointer;">Copy Payment Link</span>
                            </a>
                        </div>

                    </div>

                    <div class="hline">
                        <hr />
                    </div>

                    <div class="send-options">
                        <div class="form-grp">
                            <label for="receipnt">To: </label>
                            <input type="text" name="receipnt" id="receipnt" placeholder="Recipient" />
                        </div>

                        <p style="text-align: center">-------- OR --------</p>

                        <div class="form-grp">
                            <label for="csv_file">Upload: </label>
                            <input type="file" name="csv_file" id="csv_file" />
                        </div>

                        <p style="text-align: center">-------- OR --------</p>

                        <div class="form-grp">
                            <input type="checkbox" name="all" id="all" value="True" /> Send To All
                        </div>
                    </div>
                </div>
                <input type="submit" value="Send" class="myBtn" onclick="spinLoader();" />
            </form>
        </div>
    </div>

    <!-- The Modal for offerletter utility -->
    <div id="offerletterModal" class="modal">
        <!-- Modal content comment -->
        <div class="modal-content">
            <h2>Offer Letters</h2>
            <span class="close" onclick="offerletterModal.style.display = 'none'">&times;</span>
            <form method="POST" action="generateOfferLetter/" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="offerletter_utility" value="True" />

                <div class="row-layout">
                    <div class="form-grp">
                        <label for="offer_letter">Upload: </label>
                        <input type="file" name="offer_letter" id="offer_letter" />
                    </div>
                </div>

                <div class="hline">
                    <hr />
                </div>

                <div class="row-layout-sb">
                    <div class="form-grp">
                        <label for="name" class="mt-20">Name: </label>
                        <input type="text" name="name" id="name" placeholder="Trainee Name" />
                    </div>
                    <div class="form-grp">
                        <label for="domain" class="mt-20">Domain: </label>
                        <input type="text" name="domain" id="domain" placeholder="Trainee Domain" />
                    </div>
                    <div class="form-grp">
                        <label for="email" class="mt-20">Email: </label>
                        <input type="email" name="email" id="email" placeholder="Trainee Email" />
                    </div>
                </div>

                <br>
                <p style="text-align: center">-------- OR --------</p>
                <br>
                <input type="checkbox" name="all" id="all" value="True" />
                <span style="color: white;">
                    Send To All
                </span>
                <input type="submit" value="Send" class="myBtn" onclick="spinLoader();" />
            </form>
        </div>
    </div>

    <!-- The Modal for certificate utility -->
    <div id="certificateModal" class="modal">
        <!-- Modal content comment -->
        <div class="modal-content">
            <h2>Certificate</h2>
            <span class="close" onclick="certificateModal.style.display = 'none'">&times;</span>
            <form method="POST" action="generateCertificate/" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="certificate_utility" value="True" />


                <div class="row-layout">
                    <div class="form-grp">
                        <label for="certi">Upload: </label>
                        <input type="file" name="certi" id="certi" />
                    </div>
                </div>

                <div class="hline">
                    <hr />
                </div>


                <div class="row-layout-sb">
                    <div class="form-grp"><label for="name">Name: </label>
                        <input type="text" name="name" id="name" placeholder="Trainee Name" />
                    </div>
                    <div class="form-grp"><label for="domain">Domain: </label>
                        <input type="text" name="domain" id="domain" placeholder="Trainee Domain" />
                    </div>
                    <div class="form-grp"><label for="email">Email: </label>
                        <input type="email" name="email" id="email" placeholder="Trainee Email" />
                    </div>
                </div>
                <br>
                <p style="text-align: center">-------- OR --------</p>
                <br>
                <input type="checkbox" name="all" id="all" value="True" />
                <span style="color: white;">
                    Send To All
                </span>
                <input type="submit" value="Send" class="myBtn" onclick="spinLoader();" style="margin-top: 100px;" />
            </form>
        </div>
    </div>
    <!--!--------------------------------------------------------  -->

    <!--! Form Cards---------------------------------------------- -->
    <div class="cards-container">
        {% for form in forms %}
        <div class="card">
            <div class="card-data" id="card-details-{{form.fid}}">
                <h3 class="my-30">Internship Details : {{form.date}}</h3>
                <div class="card-data-grp mt-40">
                    <p class="px-5">URL: </p>
                    <input type="text" value="{{form.url}}" id="{{form.fid}}" class="px-5" />
                    <div class="tooltip" class="px-5">
                        <a onclick="copyText('{{form.fid}}', 'form');" onmouseout="outFunc();">
                            <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                            <i class="fa fa-clone" style="font-size: 24px; margin-left: 5px"></i>
                        </a>
                    </div>
                </div>
                <div class="card-data-grp mt-40">
                    <p class="px-5 mr-10">
                        Form Status: {% if form.form_status == True %}
                        <b>Open</b>
                        {% else %}
                        <b>Close</b>
                        {% endif %}
                    </p>
                    <label class="switch mx-5">
                        {% if form.form_status == True %}
                        <input type="checkbox" name="url_status_cb" id="url_status_cb" checked
                            onchange="toogleUrlStatus('{{form.fid}}');" />
                        {% else %}
                        <input type="checkbox" name="url_status_cb" id="url_status_cb"
                            onchange="toogleUrlStatus('{{form.fid}}');" />
                        {% endif %}
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="menu-btn" onclick="toogle('{{form.fid}}');">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
            </div>
            <div class="card-utils" id="card-utils-{{form.fid}}">
                <a class="a-btn-white" onclick="goToUrl(`{% url 'toTdetails' form.fid %}`)">
                    <div class="circle-btn cb1">
                        <i class="fa fa-info" aria-hidden="true"></i>

                    </div>
                </a>

                <div class="circle-btn cb2"
                    onclick="emailModal.style.display='block';session('{{ form.fid }}');setEfid('{{form.payment_url}}');">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </div>

                <div class="circle-btn cb3" onclick="offerletterModal.style.display='block';session('{{ form.fid }}');">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                </div>

                <div class="circle-btn cb4" onclick="certificateModal.style.display='block';session('{{ form.fid }}');">
                    <i class="fa fa-address-card-o" aria-hidden="true"></i>
                </div>

                <a class="a-btn-white" onclick="goToUrl(`{% url 'delForm' form.fid %}`)">
                    <div class="circle-btn cb5">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </div>
                </a>

                <div class="circle-btn cb6" onclick="toogle('{{form.fid}}');">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!--!----------------------------------------------------------- -->

    <!--! Test Cards ----------------------------------------------- -->
    {% if tests %}
    <h1 style="margin: 20px 10px 10px 30px; ">Tests</h1>
    {% endif %}
    <div class="cards-container">
        {% for test in tests %}
        <div class="card testcard">
            <h3>Test - {{ test.cnt }}</h3>
            <p class="mt-20">Domain: {{ test.domain }}</p>
            <div class="card-data-grp mt-40">
                <p class="px-5">Test URL: </p>
                <input type="text" value="{{test.url}}" id="{{test.tid}}" class="px-5" />
                <div class="tooltip" class="px-5">
                    <a onclick="copyText('{{test.tid}}', 'test');" onmouseout="outFunc();">
                        <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                        <i class="fa fa-clone" style="font-size: 24px; margin-left: 5px"></i>
                    </a>
                </div>
            </div>
            <div class="card-data-grp mt-40">
                <p class="px-5 mr-10">
                    Test Status: {% if test.test_status == True %}
                    <b>Open</b>
                    {% else %}
                    <b>Close</b>
                    {% endif %}
                </p>
                <label class="switch mx-5">
                    {% if test.test_status == True %}
                    <input type="checkbox" name="url_status_cb" id="url_status_cb" checked
                        onchange="toogleTestStatus('{{test.tid}}');" />
                    {% else %}
                    <input type="checkbox" name="url_status_cb" id="url_status_cb"
                        onchange="toogleTestStatus('{{test.tid}}');" />
                    {% endif %}
                    <span class="slider round"></span>
                </label>
                <!-- Delete Test btn-->
                <a href="{% url 'delTest' test.tid %}" class="a-btn-black">
                    <div class="menu-btn" style="margin: 10px 20px;">
                        <i class=" fa fa-trash" aria-hidden="true"></i>
                    </div>
                </a>
            </div>

        </div>
        {% endfor %}
    </div>
    <!--!----------------------------------------------------------- -->

</body>

<script type="text/javascript">
    // Get the modal
    var newFormModal = document.getElementById( "newFormModal" );
    var newTestModal = document.getElementById( "newTestModal" );
    var emailModal = document.getElementById( "emailModal" );
    var offerletterModal = document.getElementById( "offerletterModal" );
    var certificateModal = document.getElementById( "certificateModal" );
    var alertModal = document.getElementById( "alertModal" );
    let efid;

    // Function for changing internship details card content.
    function toogle( fid )
    {
        let card_utils = document.getElementById( 'card-utils-' + fid )
        let card_details = document.getElementById( 'card-details-' + fid );
        if ( window.getComputedStyle( card_utils ).display == "none" )
        {
            card_details.style.display = "none";
            card_utils.style.display = "block";
        } else
        {
            card_utils.style.display = "none";
            card_details.style.display = "block";
        }
    }

    function spinLoader()
    {
        var spinModal = document.getElementById( "spinModal" );
        spinModal.style.display = "block";
        emailModal.style.display = "none";
        offerletterModal.style.display = "none";
        certificateModal.style.display = "none";
    }

    function session( fid )
    {
        $.get( "setSession/" + fid + "/", function ( data ) { } );
    }

    function toogleUrlStatus( fid )
    {
        $.get( "toogleUrlStatus/" + fid + "/", function ( data )
        {
            location.reload();
        } );
    }

    function toogleTestStatus( tid )
    {
        $.get( "toogleTestStatus/" + tid + "/", function ( data )
        {
            location.reload();
        } );
    }

    function copyText( inpId, type )
    {
        var copyText = document.getElementById( inpId );
        copyText.select();
        copyText.setSelectionRange( 0, 99999 );

        // ! After this line, it generates the url
        let url = '';
        if ( type === 'form' )
        {
            url = window.location.href + 'forms/' + copyText.value;
        } else if ( type === 'test' )
        {
            url = window.location.href + 'tests/' + copyText.value
        }

        navigator.clipboard.writeText( url );

        // var tooltip = document.getElementById( "myTooltip" );
        // tooltip.innerHTML = "Copied";

        let tooltips = document.querySelectorAll( "#myTooltip" )
        tooltips.forEach( ( tooltip ) => tooltip.innerHTML = "Copied" )
    }

    function copyPaymentLink()
    {
        //! This line generates the url.
        let url = window.location.href + 'payment/' + efid.toString()
        navigator.clipboard.writeText( url );

        var tooltip = document.getElementById( "myTooltip2" );
        tooltip.innerHTML = "Copied";
    }

    function outFunc()
    {
        // var tooltip = document.getElementById( "myTooltip" );
        // tooltip.innerHTML = "Copy to clipboard";

        let tooltips = document.querySelectorAll( "#myTooltip" );
        tooltips.forEach( ( tooltip ) => tooltip.innerHTML = "Copy To clipboard" )

        var tooltip2 = document.getElementById( "myTooltip2" );
        tooltip2.innerHTML = "Copy to clipboard";
    }

    function setEfid( val )
    {
        efid = val;
    }

    function goToUrl( url )
    {
        location.href = url;
    }
</script>

</html>