{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static 'css/mainApp/tdetails.css' %}" />
    <title>Trainee Details</title>
    <style>
        .hide {
            display: none;
        }
    </style>
</head>

<body>
    <div class="head-container">
        <div></div>
        <h1>Trainee Details For Batch of : {{ fdata.date }}</h1>
    </div>

    <div class="description">
        <h2>Description</h2>
        <p style="margin-top: 10px">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Accusantium provident similique sit odit quasi hic, excepturi
            molestias vel? Et deleniti id ea, fugit nostrum necessitatibus
            dicta quasi eaque officiis magnam!
        </p>
    </div>

    <div class="filter">
        <p>Groups:</p>
        <select onchange="showFilteredData();" id="filter-options">
            <option value="all">all</option>
            {% for data in fdata.domains %}
            <option value="{{ data }}">{{ data }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="filter">
        <p>Filter:</p>
        <br />
        <form action="{% url 'filterTrainee' %}" method="POST">
            {% csrf_token %}
            <label>Score &#60; </label>
            <input type="number" min="0" name="score" />
            <br>
            <p style="font-weight: 100; font-size: 18px; margin: 5px 30px ;">---OR---</p>
            <br>
            <input type="checkbox" name="filter_payment" id="filter_payment" value="True">
            <label style="margin: 5px;">If payment is left</label>
            <br>
            <button>Delete</button>
        </form>
    </div>

    <div id="table">
        <table class="trainee-table">
            <thead>
                <tr class="table-headings">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>College</th>
                    <th>CGPA</th>
                    <th>HSC</th>
                    <th>SSC</th>
                    <th>Domain</th>
                    <th>Resume</th>
                    <th>Score</th>
                    <th>Payment</th>
                    <th>Delete</th>
                </tr>
            </thead>
            {% for data in tdata %}
            <tbody>
                <tr class="{{ data.tdomain }} table-content">
                    <td>{{ data.tname }}</td>
                    <td>{{ data.temail }}</td>
                    <td>{{ data.tage }}</td>
                    <td>{{ data.tcollege }}</td>
                    <td>{{ data.tcgpa }}</td>
                    <td>{{ data.thsc }}</td>
                    <td>{{ data.tssc }}</td>
                    <td>{{ data.tdomain }}</td>
                    {% if data.tresume == None%}
                    <td></td>
                    {% else %}
                    <td><a href="{{ data.tresume }}">Link</a></td>
                    {% endif %} {% if data.tscore == None%}
                    <td>-</td>
                    {% else %}
                    <td>{{ data.tscore }}</td>
                    {% endif %}

                    {% if data.tpaymentStatus == True%}
                    <td>Done</td>
                    {% else %}
                    <td>Left</td>
                    {% endif %}

                    <td class="delete">
                        <a href="{% url 'delTrainee' data.temail %}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>

    <div class="btn-container">
        <div class="download-button">
            <!-- <a href="{% url 'gcsv' %}"><button class="myBtn">Download</button></a> -->
            <button class="myBtn" id="download_csv">Download</button>
        </div>

        <div class="logout-button">
            <a href="{% url 'home' %}"><button class="myBtn">Back</button></a>
        </div>
    </div>
</body>

<script>
    function showFilteredData()
    {
        domain = document.getElementById( 'filter-options' );
        rows = document.getElementsByClassName( 'table-content' );

        if ( domain.value == 'all' )
        {
            for ( let index = 0; index < rows.length; index++ )
            {
                rows[ index ].classList.remove( 'hide' );
            }
            return;
        }

        for ( let index = 0; index < rows.length; index++ )
        {
            if ( !rows[ index ].classList.contains( domain.value ) )
            {
                console.log( rows[ index ] );
                rows[ index ].classList.add( 'hide' );
            } else
            {
                if ( rows[ index ].classList.contains( 'hide' ) )
                {
                    rows[ index ].classList.remove( 'hide' );
                }
            }
        }
    }

    document.getElementById( 'download_csv' ).addEventListener( 'click', function ()
    {
        const domain = document.getElementById( 'filter-options' );
        location.href = '/tms/gcsv/?domain=' + domain.value;
    } );
</script>

</html>